@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Roboto+Mono:ital,wght@1,100;1,400;1,500&family=Rubik+Vinyl&display=swap');
</style>

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Lobster' , sans-serif;
}

body {
    font-family: Roboto Mono , sans-serif;
    font-weight: 613;
   
}

.header {
    height: 666px;
    width: 100%;
    background-image: url('../images/toomas-tartes.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    font-family: Lobster,sans-serif;
   text-align: center;
   margin: 20px 0;
   font-size: 300%;
   color: black ;


}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
     letter-spacing: 3px;
}

.links {
    flex: 1;
    text-align: right;
}

.links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative

}

.links ul li a {
    color: #1709e4;
    text-decoration: none;
    font-size: 18px;

}

.links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(36, 240, 47);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.links ul li:hover::after{
    width: 100%;
}

#everest-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#everest-box h2{
    font-size: 34px;
    color: black
}
#everest-box p{
    margin: 10px o 30px;
    font-size: 20px;
    color:black
}

#ready-press {
    display: inline-block;
    text-decoration: none;
    color:rgb(8, 10, 1);
    border: 2px solid darkgreen;
    padding: 12px 34px;
    font-size:16px;
    background: transparent;
    position:relative;
    cursor: pointer;

}

#ready-press:hover{
    border: 1px solid black;
    background-color:rgb(36, 240, 47);
    transition: 0.2s;

}

@media(max-width:700px) {
    #everest-box h2{
        font-size: 4px;
    }
}

/* everest climbing map */

.climbing-map {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.climbing-map h2 {
    font-size: 36px;
    font-weight: 600;
}

.climbing-map p {
    font-size: 26px;
    color: #1709e4;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;


}

#trek-base {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
#ways {
    flex-basis: 31%;
    background: black;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

@media(max-width: 700px){
    #trek-base {
        flex-direction: column;
    }

}



#trek-base {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}

#trek-base img {
    width: 100%;
}
.office {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
#office-location h3 {
    color: rgb(243, 247, 250);
}

/* --call to action-- */
.contact {
  margin: 100px auto;
  height: 313px;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/Copy\ Everest.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.contact h1 {
    color:black;
    margin-bottom: 80px;
    padding: 0;

}

@media(max-width: 700px){
    .contact h1 {
        font-size: 24px;

    }
}

/*footer space*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 777;
}
#social {
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
#social li{
    display: inline;
}
#social i{
    font-size: 90px;
    margin: 1%;
    padding: 5%;
    background-color: black;
}

p1 {
    background-color:black;
    width: 80%;
    color: rgb(243, 247, 250);
}

/*---climb-map page---*/

#map-way {
    height: 80%;
    width: 100%;
    text-align: center;
}

.route {
    font-size: large;
    text-align: center;
    background-position: center;
}

#map-way img {
    width: 100%;
    height: 600px;

}

#images {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0;

}
#images > img {
width: 100%;
}

@media (max-width: 700px){
    #map-way img {
        height:250px;}
    #images img{
        height:250px;}

    }
    