* {
    margin: 0;
    padding: 0;
}

.header {
    height: 666px;
    width: 100%;
    background-image: url('../images/toomas-tartes.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}